---
layout: page
title: Bilder
order: 5
---

<div class="home">

  <h1 class="page-heading">Bilder</h1>
    Fotoalbum.
    Alle rettigheter tilhører fotografen om ikke annet er spesifisert.

      {% assign sorted_posts = site.posts | sort:'date' %}
      {% for my_post in sorted_posts %}
          {% if my_post.categories contains 'bilder' %}
              {% unless my_post.categories contains 'en' %}
              <li>
                  <span class="post-meta">{{ my_post.date | date: "%b %-d, %Y" }}</span>

                  <h2>
                      <a class="post-link" href="{{ my_post.url | prepend: site.baseurl }}">{{ my_post.title }}</a>
                  </h2>
              </li>
              {% endunless %}
          {% endif %}
      {% endfor %}

</div>
