---
layout: page_en
title: Blog
categories: [en]
order: 5
---

<div class="home">

  <h1 class="page-heading">Blog</h1>
  This is the blog of trillemarka.no.
  Most posts will cover news related to the webpage
  or minor news that doesn't fit other categories.

  <ul class="post-list">
      {% assign sorted_posts = site.posts | sort:'date' %}
      {% for my_post in sorted_posts %}
          {% if my_post.categories contains 'en' and my_post.categories contains 'blog' %}
              <li>
                  <span class="post-meta">{{ my_post.date | date: "%b %-d, %Y" }}</span>

                  <h2>
                      <a class="post-link" href="{{ my_post.url | prepend: site.baseurl }}">{{ my_post.title }}</a>
                  </h2>
              </li>
          {% endif %}
      {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
